.nav .navlink {
  margin: 15px;
  color: black;
  font-size: 40px;
  font-family: sans-serif;
  font-weight: bold;
}
.nav .active {
  color: brown;
  margin: 15px;
  font-size: 40px;
  font-family: sans-serif;
  font-weight: bold;
}